<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand">Shopping Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="https://friendture.com/events/home">About Friendture <span class="glyphicon glyphicon-hand-left"> </span></a>
				</li>
				<li>
					<a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Log In <span class="glyphicon glyphicon-log-in">  </span></a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-login">
				<div class="panel-heading">
					<h3 align="center" class="active">Login</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form id="login-form" role="form" style="display: block;" (submit)="onSubmit()">
								<div class="form-group">
									<input type="text" name="username" id="username" tabindex="1" class="form-control" [(ngModel)]= "username" placeholder="Username">
								</div>
								<div class="form-group">
									<input type="email" name="email" id="email" tabindex="3" class="form-control" [(ngModel)]= "email"  placeholder="Email Address">
								</div>
								<div class="form-group">
									<input type="password" name="password" id="password" tabindex="2" class="form-control" [(ngModel)]= "password"  placeholder="Password">
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" (click) = "getUsers()">
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-lg-12">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


