<div class="square">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				<img id = "img" src="../../assets/img/1.png" alt="loading">
			</div>
		</div>
	</div>
</div>
<div class="square">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				<img id = "img" src="../../assets/img/2.png" alt="loading">
			</div>
		</div>
	</div>
</div>
<div class="square">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				<img id = "img" src="../../assets/img/3.png" alt="loading">
			</div>
		</div>
	</div>
</div>

<form class="form-cart" (submit)="postItem()">
	<h2 class="form-cart-heading">Add To Cart</h2>
	<div class="col-sm-2"></div>
	<div class="col-md-12">
		<strong id="strong"> Item Name: </strong>
		<input type="text" class="form-control" name="title" placeholder="Item Name" required="" autofocus="" [(ngModel)] = "title" [ngModelOptions]="{standalone: true}" ngDefaultControl/>
		<br><br>
		<label>
			<strong id="strong">Qantity</strong>
			<select [(ngModel)] = "quantity" [ngModelOptions]="{standalone: true}" ngDefaultControl>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
			</select>
		</label>
		<br><br>
		<strong id="strong">Price: </strong>
		<input type="text" class="form-control" name="price" required="" autofocus=""  [(ngModel)] = "price" [ngModelOptions]="{standalone: true}" ngDefaultControl>
		<input type="checkbox" [(ngModel)] = "saved" [ngModelOptions]="{standalone: true}" ngDefaultControl> Save for Later
		<br>
		<input type="checkbox" [(ngModel)] ="purchased" [ngModelOptions]="{standalone: true}" ngDefaultControl> Active for Purchase
		<br><br>
		<button id = "btn-block" class="btn btn-lg btn-basic" name="Submit" value="Login" type="Submit"> Submit </button>
	</div>
</form>
<button id = "check" class="btn-block">Checkout</button>